In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from urllib.request import urlopen
from bs4 import BeautifulSoup
import re #regural exp
url = 'https://www.amazon.in/s?k=iphone+11+pro+mobile&crid=25RLYKCTPLMYK&sprefix=iphone+1%2Caps%2C305&ref=nb_sb_ss_i_1_8'

In [3]:
html = urlopen(url)

In [4]:
soup = BeautifulSoup(html)

In [24]:
containers = soup.find_all('div', {'class':'sg-col-4-of-12 sg-col-8-of-16 sg-col-16-of-24 sg-col-12-of-20 sg-col-24-of-32 sg-col sg-col-28-of-36 sg-col-20-of-28'})

In [25]:
containerslen= len(containers)
containerslen

16

In [22]:
data = []
for row in containers:
    rowdt = row.find_all('span')
    dataRow =[]
    for cell in rowdt:
        dataRow.append(cell.text)
    data.append(dataRow)
    
len(data)

16

In [26]:
data = []
for row in containers:
    rowdt = row.find_all('alt')
    dataRow =[]
    for cell in rowdt:
        dataRow.append(cell.text)
    data.append(dataRow)
data

[[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]

In [31]:
img = soup.find_all('span', {'class':'rush-component'})
# img
data = []
for row in img:
    rowdt = row.find_all('a')
    dataRow =[]
    for cell in rowdt:
        dataRow.append(cell.text)
    data.append(dataRow)
data/

SyntaxError: invalid syntax (<ipython-input-31-f399945d9806>, line 10)

### BE Final year project Live data Web Scripting

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from urllib.request import urlopen
from bs4 import BeautifulSoup
import re #regural exp
url = 'http://www.anajiproject.tk/project3/data1.php'

html = urlopen(url)
soup = BeautifulSoup(html)

In [38]:
containers = soup.find_all('tr')
containers/

SyntaxError: invalid syntax (<ipython-input-38-b59c14e2e4d1>, line 2)

In [5]:
data = []

allrows = soup.find_all('tr')

for row in allrows:
    row_list = row.find_all('td')
    dataRow =[]
    for cell in row_list:
        dataRow.append(cell.text)
    data.append(dataRow)
len(data)
# print(data)

630

In [6]:
header_list = []
header = soup.find_all('th')
for col in header:
    header_list.append(col.text)
print(len(header_list))
print(header_list)

11
['Date & Time', 'Temperature', 'Action', 'Humidity', 'Ammonia Gas Level', 'Action', 'Light', 'Action', 'Water Level', 'Action', 'Cleaning']

In [7]:
df1 = pd.DataFrame(data)
print(df1.head())
print(df1.shape)

                    0     1       2     3     4          5     6         7   \
0                 None  None    None  None  None       None  None      None
1  26/04/2019 03:40 PM    31  FanOff    49   188  ExhFanOFF   114  LightOFF
2  26/04/2019 03:39 PM    31  FanOff    50   182  ExhFanOFF   158  LightOFF
3  26/04/2019 03:39 PM    31  FanOff    50   183  ExhFanOFF   137  LightOFF
4  26/04/2019 03:38 PM    31  FanOff    50   189  ExhFanOFF   165  LightOFF

     8        9           10
0  None     None        None
1    75  PumpOff  ProcessOFF
2    75  PumpOff  ProcessOFF
3    75  PumpOff  ProcessOFF
4    75  PumpOff  ProcessOFF
(630, 11)

In [8]:
header_list = []
col_header = soup.find_all('th')
for col in col_header:
    header_list.append(col.text)
#print(header_list)
df1.columns = header_list
df = df1[1:]
df.head()

,Date & Time,Temperature,Action,Humidity,Ammonia Gas Level,Action,Light,Action,Water Level,Action,Cleaning
1,26/04/2019 03:40 PM,31,FanOff,49,188,ExhFanOFF,114,LightOFF,75,PumpOff,ProcessOFF
2,26/04/2019 03:39 PM,31,FanOff,50,182,ExhFanOFF,158,LightOFF,75,PumpOff,ProcessOFF
3,26/04/2019 03:39 PM,31,FanOff,50,183,ExhFanOFF,137,LightOFF,75,PumpOff,ProcessOFF
4,26/04/2019 03:38 PM,31,FanOff,50,189,ExhFanOFF,165,LightOFF,75,PumpOff,ProcessOFF
5,26/04/2019 03:38 PM,31,FanOff,50,190,ExhFanOFF,117,LightOFF,45,PumpOff,ProcessOFF

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 629 entries, 1 to 629
Data columns (total 11 columns):
Date & Time          629 non-null object
Temperature          629 non-null object
Action               629 non-null object
Humidity             629 non-null object
Ammonia Gas Level    629 non-null object
Action               629 non-null object
Light                629 non-null object
Action               629 non-null object
Water Level          629 non-null object
Action               629 non-null object
Cleaning             629 non-null object
dtypes: object(11)
memory usage: 54.1+ KB

In [12]:
data = df[['Date & Time','Temperature','Humidity','Ammonia Gas Level','Light','Water Level']]
data.head()
type(data)

pandas.core.frame.DataFrame

In [12]:
df.to_csv('data1.csv')